body {
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 66pt;
}

#maincont {
    position: absolute;
    left: 25%;
    right: 25%;
}

#datalist {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 50%;
    bottom: 5%;
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    width: 33%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1vw;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}

.tabcont {
    display: none;
    padding: 6px 10%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
}

.actionbuttons {
    width: 75%;
    margin: auto;
    position: relative;
}

.actionbuttons button {
    background-color: rgb(48, 255, 48);
    font-size: 1.2vw;
    padding: 12px 0px 12px 0px;
    border-radius: 7px;
    border: none;
    margin: 0.5%;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    width: 31%;
    text-wrap: nowrap;
}
.actionbuttons button:hover {
    background-color: rgb(132, 255, 121);
    color: #333;
}
.actionbuttons button:active {
    background-color: rgb(17, 197, 50);
    color: black;
}

#sort {
    left: 76%;
    right: 20%;
    top: 50%;
    bottom: 46.8%;
    position: absolute;
    border: none;
    border-radius: 7px;
    background-color: #e2a0ff;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
#sort:hover {
    background-color: #ebbdff;
}
#sort:active {
    background-color: #985bb3;
}

#backdrop {
    position: absolute;
    width: 100%;
    top: 0%;
    bottom: 0%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
}

#backdrop div {
    background-color: white;
    position: absolute;
    left: 29%;
    right: 29%;
    top: 20%;
    bottom: 20%;
    border-radius: 40px;
    padding: 10px 40px;
    line-height: 0;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#backdrop div span {
    flex-grow: 1;
}
#backdrop div pre {
    display: inline-block;
}
#backdrop div input {
    display: inline-block;
    font-size: 14pt;
}
#backdrop div button {
    height: 7%;
    width: 25%;
    margin: 0 auto;
    border: none;
    border-radius: 7px;
    background-color: rgb(48, 255, 48);
    font-size: 14pt;
}
#backdrop div button:disabled {
    background-color: #999;
    color: #333;
}
#backdrop div button:hover:enabled {
    background-color: rgb(132, 255, 121);
    color: #333;
}
#backdrop div button:active:enabled {
    background-color: rgb(17, 197, 50);
    color: black;
}

h2 {
    text-align: center;
    font-size: 25pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

hr {
    border: none;
    width: 96%;
    background-color: black;
    height: 1px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #888;
}

input:focus + .slider {
  box-shadow: 0 0 1px #888;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
